{% extends 'layouts/base-auth.html' %}

{% block title %}Signup{% endblock title %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <form method="post" class="card-body text-center">
                    {{ form.hidden_tag() }} 

                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Register</h3>
                    <span class="d-block mb-3 text-muted">
                        {% if msg %}
                            <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                            Add your credentials
                        {% endif %} 
                    </span>
                    {% if success %}
                        <p class="mb-1 text-muted">
                            <a class="btn btn-primary shadow-2 mb-4" href="{{ url_for('authentication_blueprint.login') }}" >Sign IN</a>
                        </p>
                    {% else %}
                    <div class="input-group mb-3">
                        {{ form.username(placeholder="Username", class="form-control") }}
                    </div>
                    <div class="input-group mb-3">
                        {{ form.email(placeholder="Email", class="input form-control", type="email") }}
                    </div>
                    <div class="input-group mb-4">
                        {{ form.password(placeholder="Password", class="form-control", type="password") }}
                    </div>

                    <div class="form-group text-left">
                        <br />
                    </div>
                    
                    <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Sign UP</button>
                    <p class="mb-0 text-muted">
                        <ins>
                            <a href="{{ url_for('authentication_blueprint.login') }}">Login</a>
                        </ins>
                        &bull;
                        <ins>
                            <a target="_blank" href="https://docs.appseed.us/products/flask-dashboards/datta-able-pro/">Documentation</a>
                        </ins>
                    </p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock content %}