{% extends 'layouts/base-auth.html' %}

{% block title %}Change password{% endblock title %}

{% block content %}

   <div class="auth-wrapper">
      <div class="auth-content">
            <div class="auth-bg">
               <span class="r"></span>
               <span class="r s"></span>
               <span class="r s"></span>
               <span class="r"></span>
            </div>
         <div class="card">
            <form method="post" class="card-body text-center">
               {{ form.hidden_tag() }}

               <h5 class="mb-4">Password</h5>
               <span class="d-block mb-3 text-muted">
                  {% if msg %}
                      <span class="text-danger">{{ msg | safe }}</span>
                  {% else %}
                      Add your password
                  {% endif %} 
              </span>
               <div class="input-group mb-3">
                  {{ form.current_password(placeholder="Current Password", class="form-control", type="password") }}
               </div>                  
               <div class="input-group mb-3">
                  {{ form.new_password1(placeholder="New Password", class="form-control", type="password") }}
               </div>
               <div class="input-group mb-4">
                  {{ form.new_password2(placeholder="Re-Type New Password", class="form-control", type="password") }}
               </div>

               <button type="submit" name="change_password" class="btn btn-primary shadow-2 mb-4">Change Password</button>
               <p class="mb-0 text-muted">Don’t have an account? <a href="{{url_for('authentication_blueprint.register')}}"> Signup</a></p>
            </form>
         </div>
      </div>
   </div>

{% endblock content %}