<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed">
  <div class="navbar-wrapper ">
    <div class="navbar-brand header-logo">
      <a href="{% url 'dashboard' %}" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-activity"></i>
        </div>
        <span class="b-title">TopicTales Biomédica</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
    </div>
    <div class="navbar-content scroll-div ">
      {% include 'includes/menu-list.html' %}
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->