
<!-- Favicon icon -->
<link rel="icon" href="{{url_for('static', filename='assets/images/favicon.ico')}}" type="image/x-icon">
<!-- fontawesome icon -->
<link rel="stylesheet" href="{{url_for('static', filename= 'assets/fonts/fontawesome/css/fontawesome-all.min.css')}}">
<!-- animation css -->
<link rel="stylesheet" href="{{url_for('static', filename='assets/css/plugins/animate.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename= 'assets/css/plugins/perfect-scrollbar.css')}}">

<!-- vendor css -->
<link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/style.css')}}">
<!-- -->